* {
    margin: 0;
    padding: 0;
}

.destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100hv;
}

.carrossel {
    width: 512px; /* sincronizar com o JS */
     overflow: hidden; /* sobrepor as imagens */
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.container img {
    max-width: 512px; /* sincronizar com o carrossel */
}