* {

    margin: 0;
    padding: 0;
    border: 0;

}

.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

body{

    background-color: #196d39;
    font-family: sans-serif;
    text-align: center;
    color: white;

}

body h3 {

    color: #ad2323;
    font-size: 2.0rem;
    margin-top: 30px;

}

body p {

    font-size: 1.3rem;
    margin: 15px 15px 0px 15px;

}

.manilha p {

    font-size: 1.5rem;
    color: white;

}

button{

    padding: 20px 15px;
    color: #ffffff;
    background-color: #ad2323;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 20px;

}

.carta{

    width: 250px;
    height: 350px;
    background-color: #ffffff;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0, 0.4) 0px 2px 4px;
    position: relative;

}

.canto{

    position: absolute;
    font-size: 2rem;
    text-align: center;

}

#supESQ{ 

    top: 20px;
    left: 15px;

}

#infDIR {

    bottom: 25px;
    right: 15px;
    transform: rotate(180deg);

}

.centro{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 6rem;

}

/* CORES DOS NAIPES */

.vermelho {

    color: red !important;

}

.preto {

    color: black !important;

}
